section form label {
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

section form .form-select {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

section form .form-select optgroup[label] {
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.8);
}

section form .form-select optgroup[label] option {
  font-size: 1.5rem;
}
