@import 'PoissonApp/scss/variables';
nav
    {
        background-color: rgba(0,0,0,1);
        position: fixed;
        top: 0;
        width: 100%;
        border-bottom: 3px solid rgba(255, 255, 255,0.2);
        z-index:99;
        .container{
            display: flex;
            max-width: 1280px;
            height: 80px;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
            color: white;

    div
    {
        margin: 0 0 0 16px;
        font-weight:700;
    }

    .hamburger{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    width: 64px;
    height: 64px;

    span
        {
            position:relative;
            display:block;
            margin: 0 auto 8px auto;
            width: 32px;
            height: 4px;
            background:$text-color;
            border-radius:6px;
            transition: 0.9s;
        }
        &:hover span:nth-child(2)
        {
            transform: translateX(10px);
            background-color: $button-green-color;
        }
        }
        .is-active{
            span:nth-child(1){
            transform: translate(0,13px) rotate(45deg);
            background-color: $button-green-color;
            }
            span:nth-child(2){
            opacity:0;
            transform: translateX(15px);
            }
            span:nth-child(3){
            transform:translate(-2px,-11px) rotate(-45deg);
            background-color: $button-green-color;
            }
    }

    .menu{
    display:none;
    }
    .menu.mobile-menu{
    padding:0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content:space-around;
    top: 80px;
    left:0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: rgb(0,0,0);
    transition: 0.9s;
        li{
        list-style:none;
        margin: 1rem auto;
            a{
            position:relative;
            text-decoration: none;
            color: white;
            padding: 1rem;
            transition: 0.9s;
            font-weight:300;
            letter-spacing: 2px;
                &::after
                {
                content:'';
                position: absolute;
                top:100%;
                left:10%;
                background-color:white;
                width: 0;
                height: 1px;
                transition: 0.9s;
                }
            &:hover::after
                {
                width: 80%;
                }

            }
        }
    }

    @media(min-width:768px){
        .hamburger{
        display:none;
        }



    .menu
    {
     display: flex;
     margin: 0;
        li
        {
        list-style:none;

            a
            {
            position:relative;
            text-decoration: none;
            color: white;
            padding: 1rem;
            transition: 0.9s;
            font-weight:300;
            letter-spacing: 2px;

            &::after
                {
                content:'';
                position: absolute;
                top: 90%;
                left: 10%;
                height: 1px;
                width: 0;
                transition: 0.5s;
                }
            &:hover::after
                {
                background-color: white;
                width: 80%;
                }
            }
        }
    }
    }
}
}
footer
{
    min-height: 100px;
    background-color: black;
    border-top: 3px solid rgba(255, 255, 255,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    .contact-list
    {
    margin: 2rem auto;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items:center;
    flex-direction: column;
        li
        {
        list-style: none;
            a
            {
            position: relative;
            display:block;
            text-decoration: none;
            color: white;
            margin: 0.5rem 1rem;
                &::after
                {
                content: '';
                position: absolute;
                top: 120%;
                left: 0;
                width: 0%;
                height:1px;
                background: white;
                transition: 0.5s;
                }

                &:hover::after
                {
                width:100%;
                }
            }
        }

        @media(min-width:768px)
        {
        flex-direction: row;
        }
    }

    p
    {
    color: white;
        a
        {
        text-decoration:none;
        color: white;
        }
    }
}

