{% extends 'PoissonApp/base.html' %}

{% block title %}
Calculate
{% endblock %}
{% block content %}
<div class="content">
    <section>
        {% if not error_api %}
        <h2>Start Calculate</h2>
        <p>First choose below two leagues that you intrested</p>
        <a class="arrow-down" href="#form-section"><i class="fas fa-angle-double-down"></i></a>
    </section>
    <section id="form-section">
        {% if not form2 %}
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="btnform1" value="Submit">
            </form>
        {% else %}
            <form method="post">
                {% csrf_token %}
                {{ form2 }}
                <input type="submit" name="btnform2" value="Submit">
            </form>
        {% endif %}
        {% else %}
        <p> {{ error_api }}</p>
        <a href="{% url 'index'%}"> Home Page</a>
        {% endif %}
    </section>
</div>
{% endblock %}