nav {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  z-index: 99;
}

nav .container {
  display: flex;
  max-width: 1280px;
  height: 80px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav .container div {
  margin: 0 0 0 16px;
  font-weight: 700;
}

nav .container .hamburger {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  width: 64px;
  height: 64px;
}

nav .container .hamburger span {
  position: relative;
  display: block;
  margin: 0 auto 8px auto;
  width: 32px;
  height: 4px;
  background: white;
  border-radius: 6px;
  transition: 0.9s;
}

nav .container .hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: #3db320;
}

nav .container .is-active span:nth-child(1) {
  transform: translate(0, 13px) rotate(45deg);
  background-color: #3db320;
}

nav .container .is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

nav .container .is-active span:nth-child(3) {
  transform: translate(-2px, -11px) rotate(-45deg);
  background-color: #3db320;
}

nav .container .menu {
  display: none;
}

nav .container .menu.mobile-menu {
  padding: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: black;
  transition: 0.9s;
}

nav .container .menu.mobile-menu li {
  list-style: none;
  margin: 1rem auto;
}

nav .container .menu.mobile-menu li a {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 1rem;
  transition: 0.9s;
  font-weight: 300;
  letter-spacing: 2px;
}

nav .container .menu.mobile-menu li a::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 10%;
  background-color: white;
  width: 0;
  height: 1px;
  transition: 0.9s;
}

nav .container .menu.mobile-menu li a:hover::after {
  width: 80%;
}

@media (min-width: 768px) {
  nav .container .hamburger {
    display: none;
  }
  nav .container .menu {
    display: flex;
    margin: 0;
  }
  nav .container .menu li {
    list-style: none;
  }
  nav .container .menu li a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 1rem;
    transition: 0.9s;
    font-weight: 300;
    letter-spacing: 2px;
  }
  nav .container .menu li a::after {
    content: '';
    position: absolute;
    top: 90%;
    left: 10%;
    height: 1px;
    width: 0;
    transition: 0.5s;
  }
  nav .container .menu li a:hover::after {
    background-color: white;
    width: 80%;
  }
}

footer {
  min-height: 100px;
  background-color: black;
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .contact-list {
  margin: 2rem auto;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .contact-list li {
  list-style: none;
}

footer .contact-list li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  margin: 0.5rem 1rem;
}

footer .contact-list li a::after {
  content: '';
  position: absolute;
  top: 120%;
  left: 0;
  width: 0%;
  height: 1px;
  background: white;
  transition: 0.5s;
}

footer .contact-list li a:hover::after {
  width: 100%;
}

@media (min-width: 768px) {
  footer .contact-list {
    flex-direction: row;
  }
}

footer p {
  color: white;
}

footer p a {
  text-decoration: none;
  color: white;
}

.content {
  z-index: 1;
  width: 90%;
  text-align: center;
  margin-top: 80px;
}

.content .arrow-down {
  width: 45px;
  border-radius: 50px;
}

.content h2 {
  margin-top: 2rem;
  z-index: 1;
  color: white;
  font-size: 3rem;
  margin-bottom: 2rem;
  letter-spacing: 5px;
}

.content p {
  color: white;
  font-size: 1rem;
  margin-bottom: 2rem;
  letter-spacing: 3px;
  line-height: 1.5;
}

.content a {
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 100px;
  padding: 0.5rem;
  margin: 1rem 1rem;
  border: 1px solid white;
  border-radius: 4px;
  transition: 0.9s;
}

.content a:hover {
  color: rgba(0, 0, 0, 0.9);
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 50px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 50px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 50px 3px rgba(255, 255, 255, 0.5);
}

.content .about-information a {
  margin-bottom: 0px;
}

.content section {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content section h2 {
  font-size: 2rem;
}

.content .about-mathematical-formula h2 {
  margin-bottom: 2rem;
}

h4 {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

h4 .meter {
  position: relative;
  top: -21px;
  left: 10px;
}

h4 .meter::after {
  content: '';
  top: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
}

h4 .denominator {
  position: relative;
  top: 5px;
  left: -40px;
}

.formula-description {
  color: white;
  margin: 0 auto 3rem auto;
  border-collapse: collapse;
  width: 85%;
}

.formula-description thead th {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.formula-description thead th:first-child {
  border-top-left-radius: 8px;
}

.formula-description thead th:last-child {
  border-top-right-radius: 8px;
}

.formula-description tbody td {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .formula-description {
    width: 50%;
  }
}

.content section form label {
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.content section form .form-select {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.content section form .form-select optgroup[label] {
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.8);
}

.content section form .form-select optgroup[label] option {
  font-size: 1.5rem;
}

.content section form .form-select option {
  background: rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
}

.content section form input {
  background: transparent;
  color: white;
  width: 100px;
  padding: 0.5rem;
  margin: 3rem 1rem 2rem 1rem;
  border: 1px solid white;
  border-radius: 4px;
  transition: 0.9s;
}

.content section form input:hover {
  color: rgba(0, 0, 0, 0.9);
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 50px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 50px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 50px 3px rgba(255, 255, 255, 0.5);
}

.content section .information-container {
  width: 100%;
  margin-top: 3rem;
}

.content section .information-container .first-team {
  width: 90%;
  margin: 0 auto;
}

.content section .information-container .first-team img {
  width: 80px;
}

.content section .information-container .first-team h2 {
  font-size: 2rem;
  margin: 0 auto 0.3rem auto;
}

.content section .information-container .first-team p {
  font-size: 0.8rem;
  margin: 0 auto;
}

.content section .information-container .second-team {
  width: 90%;
  margin: 0 auto;
}

.content section .information-container .second-team img {
  width: 80px;
}

.content section .information-container .second-team h2 {
  font-size: 2rem;
  margin: 0 auto 0.3rem auto;
}

.content section .information-container .second-team p {
  font-size: 0.8rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .content section .information-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .content section .information-container .first-team {
    width: 40%;
  }
  .content section .information-container .second-team {
    width: 40%;
  }
}

.content section .match-result-info {
  width: 80%;
}

.content section .match-result-info .home-win-info {
  width: 33%;
}

.content section .match-result-info .home-win-info img {
  width: 60px;
}

.content section .match-result-info .home-win-info p {
  font-size: 0.7rem;
  margin-bottom: 0;
  margin-top: 0;
}

.content section .match-result-info .draw-info {
  width: 33%;
}

.content section .match-result-info .draw-info p {
  font-size: 0.7rem;
  margin-bottom: 0;
  margin-top: 0;
}

.content section .match-result-info .against-win-info {
  width: 33%;
}

.content section .match-result-info .against-win-info img {
  width: 60px;
}

.content section .match-result-info .against-win-info p {
  font-size: 0.7rem;
  margin-bottom: 0;
  margin-top: 0;
}

@media (min-width: 768px) {
  .content section .match-result-info .home-win-info img,
.content section .match-result-info .draw-info img,
.content section .match-result-info .against-win-info img {
    width: 80px;
  }
  .content section .match-result-info .home-win-info p,
.content section .match-result-info .draw-info p,
.content section .match-result-info .against-win-info p {
    font-size: 1rem;
  }
}

.content section .match-result {
  width: 80%;
}

.content section .match-result .home-win {
  display: inline-block;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.content section .match-result .draw {
  display: inline-block;
  height: 20px;
  background-color: grey;
}

.content section .match-result .against-win {
  display: inline-block;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content section h2 {
  margin-bottom: 0;
}

.content section p {
  margin-bottom: 0rem;
}

.content section a {
  width: 150px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form .errorlist {
  padding: 0;
  list-style: none;
}

.contact-form .errorlist li {
  font-weight: 700;
  color: #ff2036;
}

.contact-form label {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-form input {
  color: white;
  text-align: center;
  margin: 0 auto 1rem auto;
  height: 3rem;
  width: 60%;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-bottom: 2px solid #adadad;
  outline: none;
  transition: 0.5s;
}

.contact-form input:focus {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #00bbff;
}

@media only screen and (max-width: 402px) {
  .contact-form input {
    width: 80%;
  }
}

.contact-form .contact-form-button {
  background: transparent;
  color: white;
  width: 100px;
  padding: 0.5rem;
  margin: 3rem auto 2rem auto;
  border: 1px solid white;
  border-radius: 4px;
  transition: 0.9s;
}

.contact-form .contact-form-button:hover {
  color: rgba(0, 0, 0, 0.9);
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 50px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 50px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 50px 3px rgba(255, 255, 255, 0.5);
}

.contact-form textarea {
  color: white;
  margin: 0 auto 1rem auto;
  text-align: center;
  width: 60%;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-bottom: 2px solid #adadad;
  outline: none;
  transition: 0.5s;
}

.contact-form textarea:focus {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #00bbff;
}

@media only screen and (max-width: 402px) {
  .contact-form textarea {
    width: 80%;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Fira sans', sans-serif;
}

#particles-js {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("https://wallpaperaccess.com/full/4509995.jpg");
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
